body {
    font-family: Arial, sans-serif;
    background-color: #fdb8f7;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: rgb(145, 255, 117);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3c59ff;
}

.message p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333;
}

.confetti-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: #ff6b6b;
    position: absolute;
    animation: confetti-fall 5s linear infinite, confetti-rotate 1s linear infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

@keyframes confetti-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
